@using BookManagement.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="box-body">
    <div class="panel-heading">
        @Html.ActionLink("Thêm mới sách", "Create", "QuanLySach")
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <caption style="text-align:center"><i><b>DANH SÁCH SẢN PHẨM</b></i></caption>
        <thead>
            <tr>
                <th>Mã SP</th>
                <th>Tên sản phẩm</th>
                <th>Giá bán</th>
                <th>Số lượng</th>
                <th>Ảnh</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSach</td>
                    <td>
                        @item.TenSach
                    </td>
                    <td>@item.GiaTien VND</td>
                    <td>@item.SL</td>
                    <td> <img src="@Url.Content("/Assets/Images/"+@item.Hinh)" style="width:70px;height:70px;" alt="Chưa có ảnh" /></td>
                    <td style="text-align:center;"><a href="/Admin/QuanLySach/Delete/@item.MaSach"><span class="glyphicon glyphicon-edit"></span></a>--<a href="/Admin/QuanLySach/Delete/@item.MaSach" onclick="return confirm('Bạn có muốn xóa ?')"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            }


        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    @Html.PagedListPager(Model, pagenumber => Url.Action("Index", new { pagenumber }))
</div>
