@model BookManagement.Models.TaiKhoan

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHienThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen)
        </dd>

    </dl>
</div>